@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/CSS/Contact.css">
</head>

<body>

    <div class="content">
        <h2>@ViewBag.Title</h2>
        <h3>Our Team</h3>
        <div class="team">
            <div class="team_member">
                <h3>VRAJ PATEL</h3>
                <p> Please Contact us via E-mail :- <a href="vraj20102005@gmail.com">vraj20102005@gmail.com</a></p>
            </div>
            <div class="team_member">
                <h3>VATSAL MODI</h3>
                <p> Please contact us via E-mail :- <a href="vatsalmodi23@gmil.com">vatsalmodi23@gmail.com</a></p>
            </div>
        </div>
    </div>
</body>

</html>
